<div id="reportsListContent">
  {% if solicitations %}
    <h4>Solicitações para "{{ category }}"</h4>
    <ul class="list-group">
      {% for sol in solicitations %}
      <li class="list-group-item">
        <a href="{{ url_for('solicitation_detail', id=sol.id) }}">
          Solicitação #{{ sol.id }} - {{ sol.child_name }} ({{ sol.status }})
        </a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Nenhuma solicitação encontrada para esta categoria neste período.</p>
  {% endif %}
</div>
